/**
 *  BORDER
 */

.border {
  border: $bd-medium;
}
.border-radius {
  border-radius: 10px;
  font-size: 1rem;
  overflow-x: auto;;
  line-height: 2rem;
  padding: 1.45rem;
  word-wrap: break-word;
}
.border-bottom {
  border-bottom: $bd-medium;
}

.border-left {
  border-left: $bd-medium;
}

.border-right {
  border-right: $bd-medium;
}

.border-top {
  border-top: $bd-medium;
}
