.card{
  min-height: 20rem;
  min-width: 18rem;
  border: 1px solid $c-light;
  border-radius: 1.5rem;
  margin: 1rem;
  padding: 1rem;
  background: $background-gradient;
  color: #DEE6E7;
  margin-bottom: $mb-p;
   .card-body{
    color: $c-text;
    display: inline-block;
    float:left;
  }


}
.card-full{
  width: 90%;
  min-height: 75vh;
  margin: 1.5rem 1.5rem 1.5rem 6%;
  border: 1px solid $c-light;
  border-radius: 1.5rem;
  padding: 1rem;
  background: $c-black;
  color: #DEE6E7;
  display: block;
h3{
  float: right;
  font-size: 2rem;
}
}
.card-image{
  width: 5rem;
  height: 5rem;
  float: right;
  margin: 0 0 .5rem .5rem

}
.card-title{
  font-size: 1.5rem;
  margin: 0 0 2rem 0;
  width: 100%;
  color: #8265FF;
  align-self: center;
  display: block;
  &-full{
    font-size: 3rem;
    margin-bottom: 0;
  }
}





