header {
  display: inline-block;
  background: $c-black;
  width: 100%;
border-bottom: 0.125px solid $c-light;
    h3 {
      color: $c-primary;
      margin: 0;
      margin-left: 15%;
      padding: 0;
      &:hover {
        color: $c-white;
      }
  }
  a {
    color: $c-primary;

    &:hover {
      color: $c-light;
      cursor: pointer;
    }
  }
  .nav {
    width: 100%;
    height: auto;
    margin-top: $mt-nav;

  }

  .nav-link {
    float: right;
    font-size: 1rem;
    border: $c-primary 0.25rem solid;
    border-radius: 10px;
    padding: 0.25rem;
    margin: 0;
    margin-left:0.75rem;
    margin-bottom: 0.5rem;

    &:hover {
      color: $c-white;
      border: $c-white 0.25rem solid;
    }
  }
}
